*{
    margin: 0;
    text-decoration: none;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
i{
    color: white;
}
body{
    height: fit-content;
    width: fit-content;
}
.productBody{
    display: flex;
    align-items: center;
    justify-content: center;
}
.productBody .title{
    display: block;
    font-size: 1rem;
    margin: 4rem 0;
}
.productBody .title h2{
    font-size: 3rem;
    width: 60%;
}
.productBody .title p{
    width: 70%;
    margin: 1rem 0 0 0;
    line-height: 1.2rem;
}
.productBody .smallWatch{
    margin: .5rem 0;
    font-size: 1.5rem;
    font-weight: 700;
    display: grid;
}
.smallWatch img{
    width: 70px;
    height: 70px;
    padding: 1rem;
    margin:  0 .5rem 0 0;
    cursor: pointer;
}
.smallWatch img.active{
    border: 1px solid mediumaquamarine;
    border-radius: 20px;
}
.feat{
    font-size: 1.5rem;
    font-weight: 700;
}
.productdetail{
    margin: 2rem 2rem;
}
@media screen and (max-width: 1100px) {
    .productBody{
        display: grid;
    }
    .productBody .title{
        margin: 0;
    }
}